*{
margin: 0;
padding: 0;
}



body{
    /* background-color: #181823; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    /* font-family:sans-serif; */
    font-family: 'Rubik', sans-serif;
    color: #03001C;
    /* font-family: 'Comic Neue', cursive;
    font-family: 'Lilita One', cursive; */
    /* background-image: url(5448674.jpg); */
}

input{
    display: block;
    min-width:250px;
    min-height:37px;
    max-width: 400px;
    max-height: 30px;
    width: 80%;
    border-radius: 20px;
    border: none;
    text-align: center;
    font-size: 16px;
    border: 2px solid black;
}

/* img{
    border: 2px solid black;
    height: 250px;
    width: 250px;   
} */

button{
    margin-top: 10px;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid black;
    font-size: 20px;
    background-color:#03C988 ;
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
}


#patchCard{
    margin-top: 10px;
background-color: aliceblue;
border: 2px solid black;
min-width: 300px;
max-width: 1000px;
min-height: 80%; ;
height: 500px;
border-radius: 0px 20px;
/* background-image: url(/11740843_4826101.jpg); */
background-color:#8DCBE6;
 text-align: center;
}

#heroImg{
    margin-top: 10px;
    width: 200px;
    height: 200px;
    border: 2px solid  #20262E;
}

#imgDiv{
    display: flex;
    justify-content: center;
}

#status{
   text-align: center;
   
}

ul{
    list-style-type: none;
}

li{
    padding-top :12px;
    font-size: 18px;
}

pre{
    display: inline;
}

h2{
    margin-top: 12px;
  
    font-size: 22px;
}

h4{
    margin-top: 6px;
    font-size :26px ;
}